# Secrets
.env
secrets.h
serviceAccountKey.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Arduino / ESP32
*.bin
*.elf
*.map
*.rar

# Datasets & Large Files
Human_Detection_Dataset/
*.h5
*.tflite
*.zip
